:root {
  /* Solid colors */
  --color-black: rgb(3, 51, 68);
  --color-dirty: rgb(246, 248, 249);
  --color-overlay: rgba(3, 51, 68, 0.75);
  --color-primary: rgb(240, 126, 61);
  --color-primary-shade: rgb(175, 92, 44);
  --color-secondary: rgb(14, 131, 209);
  --color-secondary-shade: rgb(19, 106, 164);
  --color-yellow: rgb(245, 217, 36);
  --color-yellow-shade: rgb(179, 158, 25);
  --color-red: rgb(230, 55, 55);
  --color-red-shade: rgb(167, 42, 42);
  --color-green: rgb(77, 182, 71);
  --color-green-shade: rgb(65, 114, 64);

  // Gradients
  --gradient-primary: linear-gradient(
    90deg,
    rgba(245, 173, 130, 1) 0%,
    rgba(240, 127, 60, 1) 50%,
    rgba(175, 93, 44, 1) 100%
  );
  --gradient-secondary: linear-gradient(
    90deg,
    rgba(3, 50, 67, 1) 0%,
    rgba(6, 118, 194, 1) 100%
  );
  --gradient-neutral: linear-gradient(
    90deg,
    rgba(246, 248, 249, 1) 0%,
    rgba(232, 236, 237, 1) 50%,
    rgba(209, 217, 220, 1) 100%
  );
  --gradient-yellow: linear-gradient(
    90deg,
    rgba(3, 50, 67, 1) 0%,
    rgba(245, 217, 35, 1) 100%
  );
  --gradient-orange: linear-gradient(
    90deg,
    rgba(3, 50, 67, 1) 0%,
    rgba(240, 127, 60, 1) 100%
  );
}
