:root {
  /* Solid colors */
  --color-primary: rgb(240, 127, 61);
  --color-secondary: rgb(31, 156, 239);
  --color-text: rgb(246, 248, 249);
  --color-btn-text: rgb(3, 51, 68);
  --color-label: rgb(246, 248, 249);
  --color-bg: rgb(3, 51, 68);
  --color-banner: rgba(3, 51, 68, 0.75);
  --color-green: rgb(77, 182, 71);
  --color-yellow: rgb(245, 217, 36);
  --color-red: rgb(235, 92, 92);
  --color-selectedIcon: var(--color-primary);
  --color-lightIcon: rgb(3, 51, 68);
  --color-darkIcon: rgb(3, 51, 68);
  --color-themeOptions: rgb(31, 156, 239);
  --color-btn-hover: rgb(240, 127, 61);
}
