@import url("https://fonts.googleapis.com/css2?family=Coda&family=Faster+One&family=Iceland&family=Monoton&display=swap");

:root {
  --primary_font: "Iceland", cursive;
  --secondary_font: "Coda", cursive;
  --groovy_font: "Monoton", cursive;
  --speedy_font: "Faster One", cursive;
}
