@import url("https://fonts.googleapis.com/css2?family=Coda&family=Faster+One&family=Iceland&family=Monoton&display=swap");

$primary_font: "Iceland", cursive;
$secondary_font: "Coda", cursive;
$groovy: "Monoton", cursive;
$speedy: "Faster One", cursive;
