@use "colors";

img {
  width: 150px;
  height: auto;
  transition: 0.2s ease;
  border-radius: 10px;
}
.cardContainer {
  position: relative;
  width: 180px;
  height: 270px;
  border-radius: 10px;
  background-color: colors.$secondary;
  display: grid;
  justify-items: center;
  place-items: center;
}
.cardHidden .front {
  transform: rotateY(90deg);
  position: absolute;
}
.card .front {
  transform: rotateY(0deg);
}
.front {
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
  width: 150px; /* Need a specific value to work */
}
.back {
  margin: 0;
  width: 100%;
  height: 100%;
}
