@use "colors";
@use "fonts";

body {
  background-color: colors.$bg_secondary;
  margin: 0;
}
.App {
  font-family: fonts.$secondary_font;
  text-align: center;
}
.header {
  padding: 1.2rem;
  background-color: colors.$bg_primary;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}
.hero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.logo {
  max-width: 140px;
  height: auto;
  justify-self: center;
  border-radius: 10px;
}
.texts {
  justify-self: start;
  text-align: left;
}
h1 {
  font-size: 2.4rem;
  color: colors.$primary;
  font-family: fonts.$primary_font;
}
h2 {
  color: colors.$secondary;
  font-family: fonts.$secondary_font;
}
.turns {
  color: white;
  font-family: fonts.$secondary_font;
  font-size: 1.2rem;
}
.buttons {
  display: grid;
  font-family: fonts.$secondary_font;
  grid-template-columns: 1fr 1fr;
}
.diffChoice {
  width: 200px;
  display: flex;
  flex-direction: column;
}
.seriesChoice {
  width: 250px;
  display: flex;
  flex-direction: column;
}
.cardGrid {
  margin: 3rem auto 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  justify-items: center;
  max-width: 1000px;
}
img {
  width: 150px;
  height: auto;
  transition: 0.2s ease;
  border-radius: 10px;
}
.hidden {
  opacity: 0;
}
button {
  font-family: fonts.$secondary_font;
  font-size: 1rem;
  padding: 10px 15px;
  margin: 1px;
  border: 4px solid colors.$bg_primary;
  background: #00d9ff;
  transition: 0.2s ease-in;

  &:hover {
    background: colors.$btn_hover;
  }

  &:active {
    transform: scale(0.9);
    background: colors.$btn_active;
  }
}
.selectedBtn {
  border: 4px solid colors.$primary;
  border-radius: 4px;
}
.easyBtn {
  background-color: colors.$easy;
}
.mediumBtn {
  background-color: colors.$medium;
}
.hardBtn {
  background-color: colors.$hard;
}
