@use "spacing";
@import "cardDimensions";
@import "colors";
@import "fonts";

.theming {
  max-width: 350px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  justify-items: center;
  padding: 0.4rem 0.8rem;
  width: 100%;
}

// .icon {
//   width: 24px;
//   height: 24px;
// }

.rating-text p {
  color: var(--color-label);
  font-size: spacing.$spacingSM;
  padding: 0.3rem;
}

.rating {
  background-color: var(--color-label);
  -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19),
    0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 16, 0.19),
    0 0.3rem 0.3rem rgba(0, 0, 16, 0.23);
  padding: 0.4rem 0.4rem 0.1rem 0.4rem;
  border-radius: 2.2rem;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.rating label {
  position: relative;
}

input[type="radio"] {
  position: absolute;
  opacity: 0;
}

input[type="radio"] {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

input {
  cursor: pointer;
}

.lightIcon:hover,
.lightIcon:checked,
.lightIcon:focus {
  --color-lightIcon: rgb(255, 128, 0);
}

.darkIcon:hover,
.darkIcon:checked,
.darkIcon:focus {
  --color-darkIcon: rgb(255, 128, 0);
}

.groovyIcon:hover,
.groovyIcon:checked,
.groovyIcon:focus {
  --color-groovyIcon: rgb(255, 128, 0);
}

.speedyIcon:hover,
.speedyIcon:checked,
.speedyIcon:focus {
  --color-speedyIcon: rgb(255, 128, 0);
}
